@charset "UTF-8";
@font-face {
  font-family: "SF Pro Text";
  src: url(../assets/fonts/SFProText/SFProText-Regular.ttf) format("ttf"), url(../assets/fonts/SFProText/SFProText-Regular.woff) format("woff"); }
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:visited {
  text-decoration: none;
  display: block; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

img, svg {
  display: block;
  height: auto; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #383838;
  background: #ffffff;
  overflow-x: hidden; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

/* Grid styles */
img {
  object-fit: cover; }

span {
  display: inline-block; }

ul {
  list-style-type: none; }

/* Utility */
.none {
  display: none !important; }

.wrapper {
  width: 1440px;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
  margin: 0 auto; }
  @media (max-width: 1399px) {
    .wrapper {
      width: 1399px; } }
  @media (max-width: 1199px) {
    .wrapper {
      width: 1199px; } }
  @media (max-width: 991px) {
    .wrapper {
      width: 991px; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 768px; } }
  @media (max-width: 575px) {
    .wrapper {
      width: 575px; } }
  @media (max-width: 430px) {
    .wrapper {
      width: 430px; } }
  @media (max-width: 331px) {
    .wrapper {
      width: 320px; } }

.container {
  width: 1368px;
  padding: 0px 36px;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 1399px) {
    .container {
      width: 1199px; } }
  @media (max-width: 1199px) {
    .container {
      width: 992px; } }
  @media (max-width: 991px) {
    .container {
      width: 769px; } }
  @media (max-width: 768px) {
    .container {
      width: 575px;
      padding: 0 15px; } }
  @media (max-width: 575px) {
    .container {
      width: 431px; } }
  @media (max-width: 430px) {
    .container {
      width: 370px;
      padding: 0px; } }
  @media (max-width: 320px) {
    .container {
      width: 290px; } }

.title-1 {
  font-size: 85px;
  font-weight: 500;
  color: #000000;
  letter-spacing: -8px; }
  @media (max-width: 1199px) {
    .title-1 {
      font-size: 55px;
      text-align: center;
      letter-spacing: 0;
      font-weight: 800; } }
  @media (max-width: 768px) {
    .title-1 {
      font-size: 35px; } }

.title-2 {
  font-size: 50px;
  font-weight: 500; }
  @media (max-width: 768px) {
    .title-2 {
      font-weight: 700;
      font-size: 30px;
      text-align: center; } }

.title-3 {
  font-size: 30px;
  font-weight: 500; }

.title-4 {
  font-size: 24px;
  font-weight: 500; }

.btn {
  display: flex;
  justify-content: center;
  padding: 12px 63px;
  width: 269px;
  border-radius: 15px;
  background: #383838;
  border: 1px solid #383838;
  color: #ffffff;
  font-size: 30px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  transition: all 0.25s linear; }
  @media (max-width: 1199px) {
    .btn {
      width: 200px; } }
  @media (max-width: 430px) {
    .btn {
      width: 214px;
      font-size: 20px; } }
  .btn:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000; }

.btn.btn-white {
  width: 232px;
  padding: 12px 58px;
  background: #ffffff;
  color: #383838;
  border: 1px solid #383838;
  text-align: center;
  font-size: 25px; }
  .btn.btn-white:hover {
    transition: all 0.2s linear;
    background: rgba(56, 56, 56, 0.1);
    border: 1px solid #383838; }

.btn-close, .btn-close2 {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer; }

.close-letter {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer; }

.btn-out {
  display: inline;
  color: #FF5C31;
  font-size: 16px;
  cursor: pointer; }

.btn-countries {
  font-size: 14px;
  color: #FF5C31;
  text-decoration: underline; }

.window-close {
  position: absolute;
  top: 5px;
  right: 10px; }

.arrow-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 81px; }

.button-prev,
.button-next,
.slider-wrapper {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.button-next:hover .arrow-hover {
  transform: translateX(3px);
  stroke: #FF5C31;
  transition: transform 0.3s ease; }

.button-prev:hover .arrow-hover {
  transform: translateX(-3px);
  stroke: #FF5C31;
  transition: transform 0.3s ease; }

.button-prev:active .button-color,
.button-next:active .button-color {
  stroke: red;
  stroke-opacity: .5; }

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 35px; }

.review {
  position: relative;
  padding: 42px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 373px;
  border-radius: 15px;
  border: 1px solid #FF5C31;
  background: rgba(56, 56, 56, 0.03);
  color: #000000;
  margin: 0 auto; }

.review__text {
  width: 320px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 24px; }

.review__name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center; }

.review__doc {
  color: #FF5C31; }
  .review__doc:hover {
    text-decoration: underline;
    color: #FF5C31; }

.disabled {
  opacity: 0.3; }

.reviews-letter .ps__thumb-x,
.reviews-letter .ps__thumb-y {
  background-color: #888;
  border-radius: 5px; }

.reviews-letter .ps__thumb-x:hover,
.reviews-letter .ps__thumb-y:hover {
  background-color: #555; }

.carousel-line1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 80px;
  left: 0;
  transition: 2s ease-out;
  margin-bottom: 164px; }
  @media (max-width: 1199px) {
    .carousel-line1 {
      justify-content: flex-start;
      column-gap: 50px; } }
  @media (max-width: 991px) {
    .carousel-line1 {
      justify-content: flex-start; } }
  @media (max-width: 575px) {
    .carousel-line1 {
      column-gap: 178px; } }
  @media (max-width: 430px) {
    .carousel-line1 {
      column-gap: 185px; } }

.carousel-wrapper {
  margin-bottom: 35px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .carousel-wrapper {
      width: 525px; } }
  @media (max-width: 991px) {
    .carousel-wrapper {
      width: 525px; } }
  @media (max-width: 768px) {
    .carousel-wrapper {
      width: 490px; } }
  @media (max-width: 575px) {
    .carousel-wrapper {
      width: 390px; } }
  @media (max-width: 430px) {
    .carousel-wrapper {
      width: 330px; } }

.carousel__arrow-next {
  position: absolute;
  display: none;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  top: -40px;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 1199px) {
    .carousel__arrow-next {
      display: flex;
      column-gap: 10px;
      align-items: center; } }

.carousel__arrow-prev {
  position: absolute;
  display: none;
  color: rgba(0, 0, 0, 0.5);
  column-gap: 10px;
  font-size: 20px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 1199px) {
    .carousel__arrow-prev {
      display: flex;
      column-gap: 10px;
      align-items: center; } }

/*radiobuttons for menu*/
.menu_products-buttons {
  display: flex;
  justify-content: center;
  column-gap: 29px;
  margin-bottom: 21px; }
  @media (max-width: 991px) {
    .menu_products-buttons {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%); } }

.custom {
  position: absolute;
  opacity: 0; }

.name-product {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.37);
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent; }

.custom:checked + .menu_product .name-product {
  /* Ваши стили для кнопки в чекнутом состоянии */
  color: #000000;
  /* Черный цвет шрифта */
  border-bottom: 1px solid #000000; }

#general:checked ~ .skills__row #general-list,
#general:not(:checked) ~ .skills__row #programmes-list {
  display: block;
  animation: fadeIn 3s ease forwards; }

#programs:checked ~ .skills__row #programmes-list {
  display: block; }

.fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0; }

.fade-out {
  animation: fadeOut 2s ease forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.dots-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem; }

.dot {
  cursor: pointer;
  background: #EFEFEF;
  height: 4px;
  width: 40px;
  border-radius: 100px;
  position: relative;
  margin-bottom: 70px; }

.dot.active {
  background: #FF5C31; }

.header {
  padding: 30px 0 11px 0;
  background: #ffffff; }
  @media (max-width: 768px) {
    .header {
      padding: 0;
      display: block;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-size: cover; } }

.element-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }
  @media (max-width: 991px) {
    .element-mobile {
      display: block;
      width: 991px;
      height: 190px; }
      .element-mobile img {
        height: 190px;
        width: 991px;
        object-fit: cover; } }
  @media (max-width: 768px) {
    .element-mobile {
      display: block;
      height: 190px; }
      .element-mobile img {
        height: 190px;
        max-width: 768px;
        object-fit: cover; } }
  @media (max-width: 525px) {
    .element-mobile {
      display: block;
      height: 190px; }
      .element-mobile img {
        max-width: 525px;
        object-fit: cover; } }
  @media (max-width: 525px) and (max-width: 430px) {
    .element-mobile {
      display: block;
      height: 130px; }
      .element-mobile img {
        max-width: 430px;
        height: 130px;
        object-fit: cover; } }

.header-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1399px) {
    .header-row {
      width: 1200px; } }
  @media (max-width: 1199px) {
    .header-row {
      width: 992px; } }
  @media (max-width: 991px) {
    .header-row {
      width: 769px; } }
  @media (max-width: 768px) {
    .header-row {
      height: 120px;
      width: 576px;
      margin-top: 0; } }
  @media (max-width: 575px) {
    .header-row {
      width: 431px;
      height: 90px; } }
  @media (max-width: 430px) {
    .header-row {
      padding-left: 26px;
      padding-right: 23px;
      justify-content: center;
      gap: 75px;
      height: 50px;
      margin-top: 30px; } }

.social {
  display: flex;
  column-gap: 18px;
  align-items: center; }

.social-icon img {
  width: 33px;
  height: 33px; }

.social-icon:hover {
  transform: scale(1.2);
  transition: all 0.25s linear; }
  .social-icon:hover .icon-accent {
    stroke: #FF5C31;
    transition: all 0.5s linear; }

.header__languages {
  position: relative; }

#selected-language-name {
  margin-right: 5px;
  color: #000000;
  font-size: 20px; }
  #selected-language-name:hover {
    transition: all 0.3s linear;
    color: #FF5C31;
    text-decoration: underline; }

.icon-select {
  transform: rotate(90deg); }

.options-list {
  display: none;
  position: absolute;
  top: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 1;
  text-align: left; }

.options-list li {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 2px 0;
  cursor: pointer; }
  .options-list li:hover {
    color: #FF5C31;
    text-decoration: underline;
    transition: all 0.3s linear; }

.header__nav {
  position: relative; }

.modal-icon {
  width: 60px;
  height: 60px;
  background: red; }

.nav {
  top: 50%;
  padding: 42px 43px 42px 63px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  flex-direction: column;
  width: 350px;
  height: 1004px;
  align-items: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
  z-index: 5;
  border-radius: 15px;
  border: 1px solid #FF5C31;
  background: #ffffff; }
  @media (max-width: 768px) {
    .nav {
      width: 100vw;
      height: 100vh;
      border: none; } }

.nav__link {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent; }
  @media (max-width: 768px) {
    .nav__link {
      top: 10px;
      text-align: center; } }
  .nav__link:hover {
    transition: all 0.3s ease-in;
    font-weight: 500;
    border-bottom: 2px solid #000000;
    font-weight: 700; }

.nav.nav--active {
  display: block;
  top: -28px;
  right: -25px;
  opacity: 1;
  transition: top 0s linear, opacity .2s ease-in;
  z-index: 11; }
  @media (max-width: 768px) {
    .nav.nav--active {
      top: 5px;
      text-align: center;
      right: -73px; } }

.nav-icon {
  width: 46px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Добавьте это свойство */
  transition: all 0.5s linear; }
  .nav-icon:hover {
    transform: translateX(3px);
    transition: transform 0.3s ease; }

.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background: #FF5C31; }

.nav-icon__middle {
  position: relative;
  width: 46px;
  height: 2px;
  background-color: black; }

.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 46px;
  height: 2px;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  background-color: black; }

.nav-icon__middle::before {
  top: -15px; }

.nav-icon__middle::after {
  top: 15px; }

/* Active state */
.nav-icon.nav-icon--active {
  position: absolute;
  top: -10px;
  right: 5px;
  z-index: 12;
  transform: translateX(0px); }
  @media (max-width: 768px) {
    .nav-icon.nav-icon--active {
      top: -30px;
      right: -2px; } }
  @media (max-width: 430px) {
    .nav-icon.nav-icon--active {
      top: -30px;
      right: -35px; } }

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent; }

.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  width: 33px;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  background-color: #FF5C31;
  z-index: 10; }

.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.footer {
  padding: 25px 0;
  background: #383838; }

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer__box .footer__secq {
  display: none; }
  @media (max-width: 768px) {
    .footer__box .footer__secq {
      display: block; } }

@media (max-width: 768px) {
  .button__wrapper {
    display: none; } }

.footer__box {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .footer__box {
      flex-direction: column;
      row-gap: 23px; } }

.footer .footer__row .social .social-icon:hover {
  transform: scale(1.2);
  transition: all 0.5s linear; }
  .footer .footer__row .social .social-icon:hover .icon-accent {
    stroke: #ffffff; }

.footer__secq, .footer__text {
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 768px) {
    .footer__secq, .footer__text {
      font-size: 12px;
      text-align: right; } }

/* Стили для модального окна */
.window-secq {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; }

.window-secq__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

#modal-close {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; }

.description {
  position: relative;
  padding-left: 36px; }
  @media (max-width: 1399px) {
    .description {
      max-width: 1200px;
      margin: 0 auto; } }
  @media (max-width: 991px) {
    .description {
      padding-left: 0; } }

.description__image {
  margin-right: 0;
  margin-left: auto;
  max-width: 788px; }
  @media (max-width: 991px) {
    .description__image {
      display: none; } }

.description__image-mobile {
  display: none;
  height: 100%;
  margin-right: 0;
  margin-left: auto; }
  @media (max-width: 991px) {
    .description__image-mobile {
      display: block; }
      .description__image-mobile img {
        width: 991px;
        height: 1550px;
        margin: 0 auto; } }
  @media (max-width: 991px) and (max-width: 768px) {
    .description__image-mobile {
      margin: 0 auto; }
      .description__image-mobile img {
        width: 768px;
        height: 1550px;
        object-fit: cover; } }
  @media (max-width: 991px) and (max-width: 430px) {
    .description__image-mobile {
      width: 430px; }
      .description__image-mobile img {
        width: 430px;
        height: 856px; } }

.description__element-bg {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.43;
  z-index: 5; }
  @media (max-width: 991px) {
    .description__element-bg {
      display: block;
      height: 510px; }
      .description__element-bg img {
        width: 991px;
        height: auto;
        object-fit: cover; } }
  @media (max-width: 768px) {
    .description__element-bg {
      display: block;
      height: 390px; }
      .description__element-bg img {
        width: 768px;
        height: auto;
        object-fit: cover; } }
  @media (max-width: 575px) {
    .description__element-bg {
      display: block;
      height: 370px; }
      .description__element-bg img {
        width: 575px;
        height: auto;
        object-fit: cover; } }
  @media (max-width: 430px) {
    .description__element-bg {
      display: block;
      height: 270px; }
      .description__element-bg img {
        width: 430px;
        height: auto;
        object-fit: cover; } }

.description__content {
  position: absolute;
  width: 765px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 10; }
  @media (max-width: 1399px) {
    .description__content {
      width: 50%; } }
  @media (max-width: 1199px) {
    .description__content {
      width: 40%;
      text-align: center; } }
  @media (max-width: 991px) {
    .description__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      bottom: 1%;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 575px) {
    .description__content {
      bottom: 1%; } }
  @media (max-width: 430px) {
    .description__content {
      bottom: -2%; } }

.description__title {
  margin-bottom: 20px;
  width: 100%; }
  @media (max-width: 430px) {
    .description__title {
      margin-bottom: 8px; } }

.description__subtitle {
  font-size: 30px;
  color: #383838;
  margin-bottom: 43px; }
  @media (max-width: 1399px) {
    .description__subtitle {
      width: 60%; } }
  @media (max-width: 1199px) {
    .description__subtitle {
      width: 60%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 35px; } }
  @media (max-width: 768px) {
    .description__subtitle {
      font-size: 16px; } }
  @media (max-width: 430px) {
    .description__subtitle {
      margin-bottom: 18px; } }

.description__contacts {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; }

.file-save {
  margin-top: 48px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  column-gap: 5px; }

@media (max-width: 768px) {
  .description__contacts .file-save {
    margin-top: 16px;
    margin-bottom: 30px; } }
@media (max-width: 430px) {
  .description__contacts .file-save {
    margin-bottom: 25px; } }

.summary {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #000000;
  transition: transform 0.3s ease;
  font-weight: 800; }

.summary-icon {
  display: block; }

.file-save .arrow-up {
  transition: transform 0.3s ease; }

.file-save:hover .arrow-up {
  transform: translateY(-5px); }
.file-save:hover .summary:before {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 100%;
  height: 1px;
  background: #000000; }

.description__scroll {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 5%;
  left: 25%;
  transform: translate(-50%, 50%);
  animation: scrollAnimation 1.5s infinite alternate;
  z-index: 15; }
  @media (max-width: 991px) {
    .description__scroll {
      bottom: 2%;
      right: 20%;
      left: auto; } }
  @media (max-width: 430px) {
    .description__scroll {
      right: 6%; } }

@keyframes scrollAnimation {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(20px); } }
.scroll-up {
  transition: stroke 0.3s ease;
  stroke: red; }

.description__scroll.animate-up .scroll-up {
  stroke: #605d5d; }

.section-about {
  padding: 100px 0 164px 0;
  background: url(../img/about/about-bg.png) no-repeat center;
  background-size: cover; }
  @media (max-width: 768px) {
    .section-about {
      border: none;
      width: 100%;
      padding: 50px 0 80px 0; } }

.about {
  position: relative;
  padding: 0 0 93px 93px; }
  @media (max-width: 991px) {
    .about {
      padding: 0; } }
  @media (max-width: 768px) {
    .about {
      margin-bottom: 180px; } }

.about__row {
  position: relative;
  display: flex;
  column-gap: 27px; }
  @media (max-width: 1199px) {
    .about__row {
      flex-direction: column; } }

.about__title {
  padding-left: 90px;
  width: 30%;
  margin-bottom: 57px; }
  @media (max-width: 1199px) {
    .about__title {
      width: 100%;
      padding-left: 0;
      margin-bottom: 30px; } }

.about__row::before {
  position: absolute;
  content: "";
  left: -76px;
  top: 0;
  width: 59px;
  height: 973px;
  background-image: url(../img/about/elem-1.png);
  background-size: cover; }
  @media (max-width: 1199px) {
    .about__row::before {
      display: none; } }

.about__row::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 59px;
  height: 973px;
  background-image: url(../img/about/elem-2.png);
  background-size: cover; }
  @media (max-width: 1199px) {
    .about__row::after {
      display: none; } }

.about__column:first-child .about__text:first-child {
  width: 83%;
  text-align: left;
  margin-right: 0;
  margin-left: auto; }
  @media (max-width: 1199px) {
    .about__column:first-child .about__text:first-child {
      width: 100%;
      margin: 0; } }

.about__text {
  position: relative;
  width: 83%;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  line-height: 150%; }
  @media (max-width: 1199px) {
    .about__text {
      width: 100%; } }

.about__text.text-element1,
.about__text.text-element2 {
  margin-bottom: 0; }

.text-element1::before {
  position: absolute;
  content: "";
  width: 93%;
  height: 20px;
  top: 2px;
  left: 0px;
  background: url(../img/about/item-1.png) no-repeat center;
  background-size: cover; }
  @media (max-width: 1399px) {
    .text-element1::before {
      display: none; } }

.text-element2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: 2px;
  left: 0px;
  background: url(../img/about/item-2.png) no-repeat center;
  background-size: cover; }
  @media (max-width: 1399px) {
    .text-element2::before {
      display: none; } }

.text-element3::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 17px;
  top: 5px;
  left: 0px;
  background: url(../img/about/item-3.png) no-repeat center;
  background-size: cover; }
  @media (max-width: 1399px) {
    .text-element3::before {
      display: none; } }

.about__person {
  position: relative;
  font-size: 20px;
  font-weight: 600; }

.about__image {
  width: 556px;
  margin-right: 0;
  margin-left: auto; }
  @media (max-width: 1199px) {
    .about__image {
      margin: 0 auto; } }
  @media (max-width: 575px) {
    .about__image {
      width: 400px; } }
  .about__image img {
    width: 100%; }

.link-accent {
  font-weight: 500;
  display: inline;
  color: #FF5C31;
  text-transform: uppercase;
  transition: all 1s linear; }
  .link-accent:hover {
    color: #FF5C31;
    text-decoration: underline; }

.about__sing {
  position: absolute;
  bottom: -200%;
  right: 18%;
  width: 190px;
  height: 109px;
  margin-right: 0;
  margin-left: auto; }
  @media (max-width: 768px) {
    .about__sing {
      top: -5px;
      width: 87px;
      height: 56px;
      right: 80px; } }
  @media (max-width: 430px) {
    .about__sing {
      right: 50px;
      width: 127px;
      height: 69px; }
      .about__sing img {
        width: 127px;
        height: 69px; } }

.experience {
  position: relative;
  padding: 120px 120px 120px 120px; }
  @media (max-width: 1399px) {
    .experience {
      margin-bottom: 290px; } }
  @media (max-width: 991px) {
    .experience {
      margin-bottom: 350px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 430px) {
    .experience {
      margin-bottom: 650px;
      padding-bottom: 0; } }

.experience__title {
  padding-left: 59px;
  margin-bottom: 75px; }
  @media (max-width: 768px) {
    .experience__title {
      padding-left: 0; } }

.experience__column-wrapper {
  position: relative;
  display: flex;
  height: 701px; }
  @media (max-width: 1399px) {
    .experience__column-wrapper {
      flex-direction: column; }
      .experience__column-wrapper .experience__column:first-child .experience__block:nth-child(1),
      .experience__column-wrapper .experience__column:nth-child(2) .experience__block:nth-child(2),
      .experience__column-wrapper .experience__column:nth-child(3) .experience__block:nth-child(1),
      .experience__column-wrapper .experience__column:nth-child(4) .experience__block:nth-child(2),
      .experience__column-wrapper .experience__column:nth-child(5) .experience__block:nth-child(1) {
        display: none; } }

.experience__column-wrapper::before {
  content: "";
  position: absolute;
  top: 176px;
  left: -120px;
  height: 1px;
  width: 120px;
  background: linear-gradient(to right, #EFEFEF, rgba(0, 0, 0, 0.1)); }
  @media (max-width: 1399px) {
    .experience__column-wrapper::before {
      display: none; } }

.experience__column-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  top: 175px;
  right: -60px;
  height: 1px;
  width: 120px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), #EFEFEF); }
  @media (max-width: 1399px) {
    .experience__column-wrapper::after {
      display: block;
      top: -60px;
      left: -60px;
      transform: rotate(90deg);
      background: linear-gradient(to right, #EFEFEF, rgba(0, 0, 0, 0.1)); } }

.experience__column {
  position: relative; }

.experience__column:first-child .experience__block:nth-child(2), .experience__column:nth-child(3) .experience__block:nth-child(2), .experience__column:nth-child(5) .experience__block:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 50px; }
  @media (max-width: 1399px) {
    .experience__column:first-child .experience__block:nth-child(2), .experience__column:nth-child(3) .experience__block:nth-child(2), .experience__column:nth-child(5) .experience__block:nth-child(2) {
      padding-top: 0;
      padding-left: 50px;
      padding-bottom: 50px;
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1); } }

.experience__column:nth-child(2) .experience__block:nth-child(1), .experience__column:nth-child(4) .experience__block:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 50px; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(2) .experience__block:nth-child(1), .experience__column:nth-child(4) .experience__block:nth-child(1) {
      padding-top: 0;
      padding-left: 50px;
      padding-bottom: 50px;
      border-bottom: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1); } }

.experience__column:nth-child(5) .experience__block:nth-child(2) {
  position: relative;
  border-top: 1px solid transparent; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(5) .experience__block:nth-child(2) {
      border-left: 1px solid transparent; } }

.experience__column:nth-child(5) .experience__block:nth-child(2)::before {
  display: none;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(0deg);
  height: 1px;
  width: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), #EFEFEF); }
  @media (max-width: 1399px) {
    .experience__column:nth-child(5) .experience__block:nth-child(2)::before {
      display: block;
      transform: rotate(90deg);
      left: -100px; } }

.experience__block {
  position: relative;
  width: 250px;
  height: 176px;
  cursor: pointer; }
  @media (max-width: 1399px) {
    .experience__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%; } }

.box-element1 {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383838;
  z-index: 5;
  transition: all 0.3s linear; }

.box-element2 {
  display: none;
  position: absolute;
  left: -100px;
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(to right, #EFEFEF, #FF5C31, #EFEFEF);
  z-index: 2;
  transition: all 0.5s linear; }
  @media (max-width: 1399px) {
    .box-element2 {
      transform: rotate(90deg); } }

.experience__column:first-child .experience__block:nth-child(2) .box-element1,
.experience__column:nth-child(3) .experience__block:nth-child(2) .box-element1,
.experience__column:nth-child(5) .experience__block:nth-child(2) .box-element1 {
  top: -10px;
  left: -10px; }
.experience__column:first-child .experience__block:nth-child(2) .box-element2,
.experience__column:nth-child(3) .experience__block:nth-child(2) .box-element2,
.experience__column:nth-child(5) .experience__block:nth-child(2) .box-element2 {
  top: -1px;
  left: -100px; }
  .experience__column:first-child .experience__block:nth-child(2) .box-element2 .box-element2,
  .experience__column:nth-child(3) .experience__block:nth-child(2) .box-element2 .box-element2,
  .experience__column:nth-child(5) .experience__block:nth-child(2) .box-element2 .box-element2 {
    bottom: -1px;
    left: -100px; }
    @media (max-width: 768px) {
      .experience__column:first-child .experience__block:nth-child(2) .box-element2 .box-element2,
      .experience__column:nth-child(3) .experience__block:nth-child(2) .box-element2 .box-element2,
      .experience__column:nth-child(5) .experience__block:nth-child(2) .box-element2 .box-element2 {
        top: -13px; } }

.experience__column:nth-child(2) .experience__block:nth-child(1) .box-element1,
.experience__column:nth-child(4) .experience__block:nth-child(1) .box-element1 {
  bottom: -10px;
  left: -10px; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(2) .experience__block:nth-child(1) .box-element1,
    .experience__column:nth-child(4) .experience__block:nth-child(1) .box-element1 {
      top: 0; } }
.experience__column:nth-child(2) .experience__block:nth-child(1) .box-element2,
.experience__column:nth-child(4) .experience__block:nth-child(1) .box-element2 {
  bottom: -2px;
  left: -100px; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(2) .experience__block:nth-child(1) .box-element2,
    .experience__column:nth-child(4) .experience__block:nth-child(1) .box-element2 {
      top: -5px; } }

.accent-element {
  background: #FF5C31;
  box-shadow: 1px 1px 25px 10px rgba(255, 95, 51, 0.4); }

.experience__years {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000000; }

.experience__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px; }

.experience__link {
  font-weight: 500;
  color: #FF5C31;
  text-decoration: underline; }

.experience__block .question__icon {
  cursor: pointer;
  margin-top: 15px; }

.experience__content {
  display: none; }

.experience__content.show {
  display: block;
  position: absolute;
  left: 5%;
  top: 65%;
  padding: 14px 27px;
  border-radius: 15px;
  border: 1px solid #000;
  width: 561px;
  background: #EFEFEF;
  transition: all 1.3s ease-in-out;
  z-index: 10;
  font-size: 14px;
  line-height: 1.9;
  color: #000;
  height: auto; }
  @media (max-width: 1399px) {
    .experience__content.show {
      left: 12%;
      width: 130%; } }
  @media (max-width: 575px) {
    .experience__content.show {
      width: 120%; } }

.experience__column:nth-child(4) .experience__content.show {
  width: 450px; }
  @media (max-width: 768px) {
    .experience__column:nth-child(4) .experience__content.show {
      width: 130%;
      top: 70%; } }

.experience__column:nth-child(1) .experience__content.show, .experience__column:nth-child(3) .experience__content.show, .experience__column:nth-child(5) .experience__content.show {
  left: 5%;
  top: 110%; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(1) .experience__content.show, .experience__column:nth-child(3) .experience__content.show, .experience__column:nth-child(5) .experience__content.show {
      top: 75%;
      left: 15%; } }

.experience__column:nth-child(5) .experience__block:nth-child(2) .experience__content {
  height: 300px; }
  @media (max-width: 991px) {
    .experience__column:nth-child(5) .experience__block:nth-child(2) .experience__content {
      height: auto; } }
.experience__column:nth-child(5) .experience__block:nth-child(2) .experience__content.show {
  display: block;
  left: -150%;
  top: 80%; }
  @media (max-width: 1399px) {
    .experience__column:nth-child(5) .experience__block:nth-child(2) .experience__content.show {
      left: 5%;
      top: 60%; } }

.experience__content.show ul {
  list-style-type: disc;
  margin-bottom: 40px; }

.link-more {
  color: #FF5C31;
  text-align: right;
  font-weight: 500; }
  .link-more:hover {
    text-decoration: underline; }

.more-text {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 86px 40px 60px 64px;
  border-radius: 15px;
  background: #EFEFEF;
  border: 1px solid black;
  width: 657px;
  /* Ширина окна не более 80% от ширины страницы */
  height: 560px;
  /* Высота окна не более 80% от высоты страницы */
  overflow-y: auto;
  /* Добавление вертикальной прокрутки при необходимости */ }

.btn-close__more {
  position: absolute;
  top: 18px;
  right: 18px; }

.experience__content .overlay {
  opacity: 0.5; }

.text-more__wrapper {
  width: 97%;
  margin-left: 0;
  margin-right: auto;
  height: 414px;
  overflow-y: auto; }

.text-more__wrapper::-webkit-scrollbar {
  right: 50px;
  background: #c8c7c7;
  width: 2px;
  height: 1px; }

.text-more__wrapper::-webkit-scrollbar-track {
  background: #c8c7c7;
  border: 54px solid transparent;
  background-clip: content-box; }

.text-more__wrapper::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 35px solid #696666;
  border-radius: 4px; }

.name-text {
  font-size: 14px;
  font-weight: 700;
  margin-top: 35px; }

.more-list {
  width: 516px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.4; }

.subname-text {
  font-size: 14px;
  font-weight: 500; }

.experience__content ul {
  list-style: none; }

.education {
  padding-top: 60px;
  display: flex;
  position: relative; }
  @media (max-width: 991px) {
    .education {
      flex-direction: column;
      row-gap: 33px; } }
  @media (max-width: 430px) {
    .education {
      row-gap: 90px; } }

.education__column:nth-of-type(3) {
  position: absolute;
  padding: 32px 98px;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 416px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #383838; }
  @media (max-width: 1399px) {
    .education__column:nth-of-type(3) {
      width: 432px; } }
  @media (max-width: 991px) {
    .education__column:nth-of-type(3) {
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
      margin: 0 auto;
      width: 75%; } }
  @media (max-width: 768px) {
    .education__column:nth-of-type(3) {
      width: 416px;
      border: none;
      width: 100%;
      padding: 43px 35px; } }
  @media (max-width: 430px) {
    .education__column:nth-of-type(3) {
      padding: 25px 15px; } }
  .education__column:nth-of-type(3) .education__title {
    margin-bottom: 45px; }

.education__column:first-child {
  position: relative; }

.education__column:first-child::before {
  display: none;
  top: 0;
  left: 0;
  transform: translateX(50%);
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background: #FF5C31; }
  @media (max-width: 768px) {
    .education__column:first-child::before {
      display: block; } }

@media (max-width: 991px) {
  .languages__list {
    width: 65%;
    margin-right: auto;
    margin-left: auto; } }

.languages__list li {
  position: relative;
  margin-bottom: 23px;
  font-size: 16px;
  color: #000000;
  padding-left: 20px;
  text-align: left; }
  .languages__list li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #383838;
    top: 5px;
    left: 0; }

.education__column:nth-of-type(2) {
  background: rgba(56, 56, 56, 0.04); }
  @media (max-width: 768px) {
    .education__column:nth-of-type(2) {
      width: 100%;
      border-radius: 15px;
      background: #ffffff;
      padding: 43px 35px 47px 50px; } }
  @media (max-width: 430px) {
    .education__column:nth-of-type(2) {
      padding: 25px 15px; } }

.education__column {
  width: 50%;
  padding-top: 92px;
  padding-bottom: 164px; }
  @media (max-width: 991px) {
    .education__column {
      width: 100%; } }
  @media (max-width: 430px) {
    .education__column {
      width: 370px;
      padding-bottom: 0; } }

.edication__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center; }

.education__title {
  position: relative;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (max-width: 768px) {
    .education__title {
      margin-bottom: 55px; } }

.education__item {
  position: relative;
  margin-bottom: 94px;
  transition: all 0.5s ease; }
  @media (max-width: 991px) {
    .education__item {
      padding-top: 79px;
      padding-left: 40px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0; } }
  .education__item:hover .education__name {
    font-weight: 600; }
  .education__item:hover .education__link {
    font-weight: 600;
    text-decoration: underline; }

.education__item::before {
  display: none;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383838;
  transform: translateY(50%);
  left: -11px;
  z-index: 5; }
  @media (max-width: 991px) {
    .education__item::before {
      display: block; } }

.education__item::after {
  display: none;
  position: absolute;
  top: 0%;
  left: -2px;
  content: "";
  width: 1px;
  height: 200px;
  background: linear-gradient(#ffffff, #FF5C31, #ffffff);
  z-index: 2; }

@media (max-width: 991px) {
  .education__item:hover.education__item::before {
    display: block;
    background: #FF5C31;
    box-shadow: 1px 1px 10px 5px rgba(255, 95, 51, 0.4); }
  .education__item:hover.education__item::after {
    transition: all 1s ease;
    display: block; } }

.education__years {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.education__name {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000000; }

.document {
  text-decoration: none;
  color: #FF5C31;
  font-weight: 500; }
  .document:hover {
    color: #FF5C31;
    text-decoration: underline; }

.curces__content {
  padding: 56px 35px;
  width: 522px;
  border-radius: 15px;
  background: #ffffff;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .curces__content {
      width: 100%; } }

.curces__list-wrapper {
  padding: 56px 28px 56px 37px;
  border-radius: 15px;
  width: 522px;
  height: 513px;
  margin: 0 auto;
  background: #ffffff; }
  @media (max-width: 1199px) {
    .curces__list-wrapper {
      width: 90%;
      height: 560px; } }
  @media (max-width: 991px) {
    .curces__list-wrapper {
      width: 522px;
      height: 513px; } }
  @media (max-width: 768px) {
    .curces__list-wrapper {
      width: 100%;
      background: none;
      border-radius: none;
      border: none;
      padding: 0;
      height: 600px; } }

.curces__list {
  width: 458px;
  height: 395px; }
  @media (max-width: 1199px) {
    .curces__list {
      width: 100%; } }
  @media (max-width: 768px) {
    .curces__list {
      overflow-y: auto;
      width: 90%;
      height: 633px; } }

.curces__list::-webkit-scrollbar {
  right: 50px;
  background: #e8e6e6;
  width: 2px;
  height: 1px; }

.curces__list::-webkit-scrollbar-track {
  background: #e8e6e6;
  border: 54px solid transparent;
  background-clip: content-box; }

.curces__list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 35px solid rgba(105, 102, 102, 0.5);
  border-radius: 4px; }

.curces__list li {
  position: relative;
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 20px;
  cursor: pointer; }
  .curces__list li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #383838;
    top: 5px;
    left: 0; }
  .curces__list li:hover {
    text-decoration: underline; }
    .curces__list li:hover .list__link {
      font-size: 16px;
      transition: all 0.5s ease; }

.list__link {
  color: #000000; }

.section-skills {
  padding: 394px  0 82px 0; }
  @media (max-width: 991px) {
    .section-skills {
      padding-top: 130px; } }

.column__wrapper {
  position: relative;
  flex-shrink: 0;
  width: 546px; }
  @media (max-width: 1191px) {
    .column__wrapper {
      width: 525px; } }
  @media (max-width: 768px) {
    .column__wrapper {
      width: 450px; } }
  @media (max-width: 575px) {
    .column__wrapper {
      width: 330px; } }
  @media (max-width: 430px) {
    .column__wrapper {
      width: 330px; } }

@media (max-width: 991px) {
  .column__wrapper:first-child {
    margin-top: 50px; } }

.column__wrapper:nth-child(2) {
  margin-top: 50px; }

.skills__column {
  height: 829px;
  padding: 81px 55px;
  background: rgba(56, 56, 56, 0.03);
  border-radius: 15px;
  border: 1px solid #FF5C31; }
  @media (max-width: 991px) {
    .skills__column {
      padding: 20px 33px 44px 24px; } }
  @media (max-width: 575px) {
    .skills__column {
      width: 360px; } }
  @media (max-width: 430px) {
    .skills__column {
      width: 330px;
      height: 860px; } }

@media (max-width: 991px) {
  .column__wrapper:first-child .skills__column {
    height: 635px; } }
@media (max-width: 575px) {
  .column__wrapper:first-child .skills__column {
    height: 706px; } }

.carousel-right {
  position: absolute;
  top: -150px;
  left: 0;
  transform: translateX(100%);
  font-size: 24px;
  cursor: pointer; }

.arrow-left {
  margin-left: 10px; }

.arrow-right {
  margin-right: 10px; }

.arrow-left img {
  animation: arrowMovementRight 1.5s linear infinite; }

@keyframes arrowMovementRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(15px); } }
.arrow-right img {
  animation: arrowMovementLeft 1.5s linear infinite; }

@keyframes arrowMovementLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-15px); } }
.skills__title {
  margin-bottom: 40px;
  text-align: center; }
  @media (max-width: 991px) {
    .skills__title {
      margin-bottom: 94px; } }

.skills__list-hard li, .skills__list-soft li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px; }
  .skills__list-hard li::before, .skills__list-soft li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #383838;
    top: 5px;
    left: 0; }

.list__text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5); }

.skill__use-title {
  margin-bottom: 82px;
  text-align: center; }
  @media (max-width: 768px) {
    .skill__use-title {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

.skills__use .accordeon {
  display: flex;
  column-gap: 60px;
  justify-content: center; }
  @media (max-width: 991px) {
    .skills__use .accordeon {
      flex-direction: column;
      row-gap: 33px; } }

.accordeon-list {
  position: relative;
  width: 430px; }
  @media (max-width: 991px) {
    .accordeon-list {
      width: 100%;
      margin: 0 auto; } }

.input:checked + label > .question__icon {
  transition: all 1s ease;
  transform: rotate(-180deg); }
  .input:checked + label > .question__icon .icon-red {
    stroke: #FF5C31; }

.question__icon:hover {
  transform: translateY(2px); }
  .question__icon:hover .icon-red {
    stroke: #FF5C31; }

.input:checked + .question {
  color: black; }

.input:checked ~ .answer {
  display: block; }

.question-box {
  width: 100%;
  cursor: pointer; }
  @media (max-width: 991px) {
    .question-box {
      margin: 0 auto; } }

.question__icon {
  display: block;
  width: 30px;
  height: 20px;
  transition: all 1s ease; }

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #000000; }

.accordeon-text {
  display: block; }

.input {
  width: 0;
  height: 0;
  position: absolute;
  appearance: none; }

.answer {
  display: none;
  cursor: pointer;
  text-align: left;
  animation: 0.8s show ease;
  padding: 10px 0;
  font-size: 14px;
  color: #000000;
  line-height: 150%; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.accordeon__item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #000000; }
  .accordeon__item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #383838;
    top: 5px;
    left: 0; }

.window-outsourcing {
  display: none;
  position: absolute;
  top: 0;
  left: -60px;
  width: 529px;
  padding: 56px 60px 50px 55px;
  border-radius: 15px;
  border: 1px solid #FF5C31;
  background: #ffffff;
  z-index: 5; }
  @media (max-width: 1199px) {
    .window-outsourcing {
      left: 0; } }
  @media (max-width: 991px) {
    .window-outsourcing {
      width: 100%;
      left: 0; } }

.outsourcing-text {
  font-size: 14px;
  color: #000000; }

.outsourcing-text:first-child {
  margin-bottom: 40px; }

.window-countries {
  display: none;
  position: absolute;
  top: -100%;
  left: 10%;
  padding: 56px 55px 40px 25px;
  width: 318px;
  height: 523px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #FF5C31;
  z-index: 10; }

.countries-list {
  padding-left: 40px;
  height: 439px;
  overflow-y: auto;
  list-style-type: decimal; }

.countries-list::-webkit-scrollbar {
  right: 50px;
  background: #c8c7c7;
  width: 2px;
  height: 1px; }

.countries-list::-webkit-scrollbar-track {
  background: #c8c7c7;
  border: 54px solid transparent;
  background-clip: content-box; }

.countries-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 35px solid #696666;
  border-radius: 4px; }

.section-work {
  padding-top: 150px;
  padding-bottom: 125px; }

.work__action {
  position: relative;
  margin-bottom: 215px; }

.work__action::before {
  top: -150px;
  left: 0;
  transform: translateX(50%);
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background: #FF5C31; }

.work__action-title {
  margin-bottom: 67px; }
  @media (max-width: 768px) {
    .work__action-title {
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }

.work__list-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 93px; }
  @media (max-width: 768px) {
    .work__list-wrapper {
      flex-direction: column;
      row-gap: 33px; } }

.work__list {
  display: inline-block;
  width: 435px; }
  @media (max-width: 768px) {
    .work__list {
      width: 100%;
      margin: 0 auto; } }

.work__item {
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  color: #000000; }
  .work__item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #383838;
    top: 5px;
    left: 0; }
  .work__item:last-child {
    margin-bottom: 0; }

.work__expectations.accordeon {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 150px; }
  @media (max-width: 768px) {
    .work__expectations.accordeon {
      flex-direction: column;
      row-gap: 15px;
      margin-bottom: 130px; } }

.work__expectations-title {
  margin-bottom: 78px;
  text-align: center; }

.answer__link {
  color: #FF5C31;
  text-decoration: underline; }

.work__interest {
  position: relative;
  max-width: 1084px;
  margin: auto; }
  .work__interest::before {
    position: absolute;
    content: "";
    bottom: -20%;
    left: 0;
    transform: translateX(50%);
    width: 50%;
    height: 1px;
    background-color: #FF5C31; }

.work__interest-title {
  margin-bottom: 72px;
  text-align: center; }

.list-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding-bottom: 66px; }
  @media (max-width: 768px) {
    .list-wrapper {
      padding-bottom: 0px;
      flex-direction: column;
      row-gap: 15px; } }

.work__interest-list {
  width: 295px; }
  @media (max-width: 768px) {
    .work__interest-list {
      width: 60%;
      margin: 0 auto; } }
  @media (max-width: 430px) {
    .work__interest-list {
      width: 90%; } }

.work__interest-item {
  width: 100%;
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 30px; }
  .work__interest-item:last-child {
    margin-bottom: 0; }

.interest__icon {
  display: block;
  object-fit: cover; }

.interest__name {
  display: block;
  font-size: 16px;
  color: #000000; }

.section-reviews {
  position: relative;
  padding-top: 150px;
  padding-bottom: 190px; }

.reviews {
  max-width: 1226px; }

.reviews__title {
  margin-bottom: 80px; }

.document.doc {
  font-size: 20px;
  font-weight: 500; }
  .document.doc:hover {
    text-decoration: underline; }

.contacts {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .contacts {
      flex-direction: column; } }

.contacts__content {
  padding: 98px 0 13px 132px; }
  @media (max-width: 768px) {
    .contacts__content {
      padding: 0;
      max-width: 768px;
      padding-left: 130px; } }
  @media (max-width: 430px) {
    .contacts__content {
      padding-left: 30px; } }

.contacts__title {
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .contacts__title {
      margin-bottom: 46px; } }
  .contacts__title .title-2 {
    font-size: 85px;
    font-weight: 700; }
    @media (max-width: 768px) {
      .contacts__title .title-2 {
        font-weight: 700;
        font-size: 35px; } }

.contacts__block {
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .contacts__block {
      margin-bottom: 20px; } }

.contacts__subtitle {
  font-size: 20px;
  color: rgba(56, 56, 56, 0.5);
  margin-bottom: 16px; }

.contacts__link {
  display: inline-block;
  font-size: 30px;
  color: #383838;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease; }
  @media (max-width: 768px) {
    .contacts__link {
      font-size: 20px; } }
  .contacts__link:hover {
    border-bottom: 2px solid #000000; }

.contacts__content .file-save {
  margin-top: 0; }

.contacts__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
@media (max-width: 430px) {
  .contacts__image {
    width: 500px; } }

/*# sourceMappingURL=style.css.map */
