.section-work {
    padding-top: 150px;
    padding-bottom: 125px;
}
.container {
}
.work {
}
.work__action {
    position: relative;
    margin-bottom: 215px;
}


.work__action::before {
    top:-150px;
    left: 0;
    transform: translateX(50%);
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    background: $color-accent;
}
.work__action-title {
    margin-bottom: 67px;
    //*mobile big
    @media (max-width: 768px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.title-2 {
}
.work__list-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 93px;
     //*mobile big
     @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 33px;
      }
}
.work__list {
    display: inline-block;
    width: 435px;
    //*mobile big
    @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
      }
}
.work__item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;
    color:$color-black;
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color-dark;
        top:5px;
        left: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
#contacts {
}
//block expectations(МОИ ОЖИДАНИЯ)


.work__expectations.accordeon {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 150px;
     //*mobile big
     @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 130px;
      }
}
.work__expectations-title {
    margin-bottom: 78px;
    text-align: center;
}
.answer__link {
    color:$color-accent;
    text-decoration: underline;
}



.work__interest {
    position: relative;
    max-width: 1084px;
    margin:  auto;
    &::before {
        position: absolute;
        content:"";
        bottom: -20%;
        left: 0;
        transform: translateX(50%);
        width: 50%;
        height: 1px;
        background-color: $color-accent;
    }
}
.work__interest-title {
    margin-bottom: 72px ;
    text-align: center;
}
.list-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-bottom: 66px;
     //*mobile big
     @media (max-width: 768px) {
        padding-bottom: 0px;
        flex-direction: column;
        row-gap: 15px;
    }
}

.work__interest-list {
    width: 295px;
     //*mobile big
     @media (max-width: 768px) {
        width: 60%;
        margin: 0 auto;
    }
    //*mobile xs
    @media (max-width: 430px) {
        width: 90%;
       
    }
}

.work__interest-item {
    width: 100%;
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}
.interest__icon {
    display: block;
    object-fit: cover;
}
.interest__name {
    display: block;
    font-size: 16px;
    color:$color-black;
}