.section-skills {
    padding: 394px  0 82px 0;
    //*mobile big
    @media (max-width: 768px) {
        padding-top: 135px;
    }
}

.skills__row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 50px;
    margin-bottom: 164px;
    //*mobile big
    @media (max-width: 768px) {
        padding-top: 100px;
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
}}

.column__wrapper {
    //*mobile big
    @media (max-width: 768px) {
        width: 400px;
        position: relative;
        flex: 0 0 auto;
        column-gap: 15px;
        scroll-snap-align: start;
    }
    //*mobile xs
    @media (max-width: 430px) {
        width: 332px;
    }
}

.skills__column {
    width: 546px;
    height: 829px;
    padding: 81px 55px;
    background: rgba(56, 56, 56, 0.03);
    border-radius: 15px;
    border: 1px solid $color-accent;
    //*mobile big
    @media (max-width: 768px) {
        width: 400px;
        height: 829px;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
    //*mobile xs
    @media (max-width: 430px) {
        width: 332px;
        height: 930px;
    }
}

.arrow {
    position: absolute;
    top: -50px;
    left: 0;
    transform: translateX(100%);
    font-size: 14px;
    cursor: pointer;
  }
  
  .arrow-left {
    margin-left: 10px;
  }
  
  .arrow-right {
    margin-right: 10px;
  }

  
  .arrow-left img {
    animation: arrowMovementRight 1.5s linear infinite;
  }

  @keyframes arrowMovementRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
  }

  .arrow-right img {
  animation: arrowMovementLeft 1.5s linear infinite;
}

@keyframes arrowMovementLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}
  
  .skills__title {
   margin-bottom: 40px;
  }

.skills__list-hard li, .skills__list-soft li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color-dark;
        top:5px;
        left: 0;
    }
}


.skill__use-title {
    margin-bottom: 82px;
    text-align: center;
    //*mobile big
    @media (max-width: 768px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
}

.skills__use .accordeon {
    display: flex;
    column-gap: 50px;
    justify-content: center;
     //*tablet small
     @media (max-width: 991px) {
        flex-direction: column;
        row-gap: 33px;
      }
}

.accordeon-list {
    position: relative;
    width: 435px;
    //*tablet small
   @media (max-width: 991px) {
    width: 100%;
    margin:0 auto;
   }
}

.input:checked + label> .question__icon {
    transform: rotate(180deg);
    background: url(../../img/icons/icon-scroll-red.png) no-repeat center;
    transition: all 1s ease;
   
}

.input:checked + .question {
    color: black;
}

.input:checked ~ .answer {
    display: block;
}

.question-box {
    width: 100%;
    cursor: pointer;
    //*tablet small
    @media (max-width: 991px) {
        margin: 0 auto;
    }
}

.question__icon {
    display: block;
    width: 30px;
    height: 20px;
    background: url(../img/icons/icon-scroll-grey.png) no-repeat center;
    background-size: cover;
    transition: all 1s ease;
}
.question-box:hover .question__icon{
    transform: translateY(2px);
    background: url(../img/icons/icon-scroll-red.png) no-repeat center;
    transition: all 0.3s ease;

}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color:$color-black;
}


.accordeon-text {
    display: block;
}

.input {
    width: 0;
    height: 0;
    position: absolute;
    appearance: none;
}

.answer {
    display: none;
    cursor: pointer;
    text-align: left;
    animation: 0.8s show ease;

    padding: 10px 0;
    font-size: 14px;
    color:$color-black;
    line-height: 150%;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.accordeon__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    color:$color-black;
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color-dark;
        top:5px;
        left: 0;
    }
}

.window-outsourcing {
    display: none;
    position: absolute;
    top:5%;
    left: 50%;
    width: 529px;
    height: 285px;
    padding: 56px 60px 50px 55px;
    border-radius: 15px;
    border: 1px solid $color-accent;
    background: $color-white;
    z-index: 5;
}


.outsourcing-text {
    font-size: 14px;
    color:$color-black;
}

.window-countries {
    display: none;
    position: absolute;
    top:5%;
    left: 10%;
    padding: 56px 55px 40px 25px;
    width: 318px;
    height: 523px;
    background: $color-white;
    border-radius: 15px;
    border: 1px solid $color-accent;
    z-index: 10;
    
}
.countries-list  {
    padding-left: 40px;
    height: 439px;
    overflow-y: auto;
    list-style-type: decimal;
}

.countries-list::-webkit-scrollbar {
    right: 50px;
    background:#c8c7c7;
    width: 2px;
    height: 1px;
}

.countries-list::-webkit-scrollbar-track {
    background:#c8c7c7;
    border: 54px solid transparent;
    background-clip: content-box;
}

.countries-list::-webkit-scrollbar-thumb {
    background: $color-white;
    border: 35px solid rgb(105, 102, 102);
    border-radius: 4px;
}